{% extends 'layout.html' %}

{% block title %}Error{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="card border-danger">
                <div class="card-header bg-danger text-white">
                    <h4 class="mb-0"><i class="fas fa-exclamation-triangle me-2"></i>Error</h4>
                </div>
                <div class="card-body">
                    <h5 class="card-title mb-3">An error occurred</h5>
                    <p class="card-text">{{ message }}</p>
                    <div class="mt-4">
                        <a href="{{ url_for('index') }}" class="btn btn-primary"><i class="fas fa-home me-2"></i>Return to Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
